@font-face {
    font-family: 'Feijoa';
    src: url(fonts/Feijoa\ Display.otf);
}

@font-face {
    font-family: 'SofiaPro-medium';
    src: url(fonts/SofiaPro/SofiaProMedium.ttf);
}

@font-face {
    font-family: 'SofiaPro-regular';
    src: url(fonts/SofiaPro/SofiaProRegular.ttf);
}

@font-face {
    font-family: 'SofiaPro-semibold';
    src: url(fonts/SofiaPro/SofiaProSemiBold.ttf);
}

@font-face {
    font-family: 'SofiaPro-light';
    src: url(fonts/SofiaPro/SofiaProLight.ttf);
}

@font-face {
    font-family: 'SofiaPro-extralight';
    src: url(fonts/SofiaPro/SofiaProExtraLight.ttf);
}

@keyframes transparent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SofiaPro-light', sans-serif;
    color: #404040;
}

@media only screen and (min-width:1441px){

    h1 {
        Font-Family: 'SofiaPro-regular';
        font-size: 55px;
    }
    
    h2 {
        font-family: 'SofiaPro-extralight';
        font-size: 45px;
    }
    
    h3 {
        font-family: 'SofiaPro-light';
        font-size: 30px;
        text-transform: uppercase;
    }
    
    h4 {
        font-family: 'SofiaPro-light';
        font-size: 25px;
    }
    
    p {
        font-size: 22px;
        line-height: 1.5;
    }
    
    header {
        background-image: url(images/img-header-v3-1440.svg);
        background-color: #ffffff;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        width: 100vw;
        padding-bottom: 0.5%;
        padding-top: 5%;
    }
    
    nav {
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        position: fixed;
        top: 0;
        background-color: #ffffff;
        z-index: 200;
    }
    
    .menu {
        width: 30%;
        margin-left: 60%;
    }
    
    .menu-items {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;
        color: #404040
    }
    
    .menu-items a {
        color: #404040;
        text-decoration: none;
    }
    
    .menu-items a:hover {
        color: #C27166;
    }
    
    .intro-portfolio {
        width: 45%;
        padding-top: 12%;
        margin-left: 8%;
        margin-bottom: 15%;
    }
    
    #cargo {
        margin-top: 4%;
        position: relative;
        z-index: 1;
    }
    
    #cargo h3:after {
        content:'';
        position: absolute;
        background-color: #E5BBA5;
        width: 70%;
        height: 20px;
        bottom: 0;
        left:0;
        z-index: -1;
        opacity: 0.4;
    }
    
    #cargo h3:hover::after {
        opacity: 0.7;
        transition: 1s;
    }
    
    #presentacion {
        margin-top: 4%;
    }
    
    #presentacion p {
        font-size: 28px;
    }
    
    #rrss {
        width: 35%;
        margin-top: 4%;
        display: flex;
        justify-content: space-between;
    }
    
    #rrss i {
        color: #404040;
        font-size: 30px;
    }
    
    #rrss i:hover {
        color: #C27166;
    }
    
    #intro-proyectos {
        width: 85vw;
        position: relative;
        background-color: #F0C8B2;
        padding: 4% 5% 4% 8%;
        color: #ffffff;
        z-index: 100;
    }
    
    #intro-proyectos h2 {
        font-family: 'SofiaPro-medium';
    }
    
    #intro-proyectos p {
        margin-top: 2%;
    }
    
    .background-proyectos {
        width: 100vw;
        background-color: #ffffff;
        margin-top: -8%;
    }
    
    #proyecto-1 {
        padding-top: 15%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #proyecto-2 {
        padding-top: 2%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #proyecto-3 {
        padding-top: 2%;
        padding-bottom: 5%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .imagen-proyecto {
        width: 55%;
        object-fit: cover;
        object-position: center;
    }
    
    .imagen-proyecto img {
        width: 100%;
    }
    
    .texto-proyecto {
        width: 45%;
        margin-left: 5%;
        margin-right: 2%;
        z-index: 1;
    }
    
    .texto-proyecto h2 {
        position: relative;
    }
    
    .texto-proyecto h2:after {
        content:'';
        position: absolute;
        background-color: #E5BBA5;
        width: 40%;
        height: 30px;
        bottom: 0;
        left:0;
        z-index: -1;
        opacity: 0.4;
    }
    
    .texto-proyecto h2:hover:after {
        width: 55%;
        transition: 0.5s ease;
    }
    
    .texto-proyecto h4 {
        margin-top: 4%;
        text-transform: uppercase;
    }
    
    .texto-proyecto p {
        margin-top: 3%;
        font-size: 22px;
    }
    
    .texto-proyecto button {
        background-color: #C27166;
        border-style: solid;
        border-color: #C27166;
        border-width: 2px;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 4%;
        margin-top: 51px;
        cursor: pointer;
    }
    
    .texto-proyecto button:hover {
        background-color: #ffffff;
        border-style: solid;
        border-color: #C27166;
        border-width: 2px;
        color: #404040;
    }
    
    #treen-button {
        background-color: #ffffff;
        border-style: solid;
        border-color: #C27166;
        border-width: 2px;
        color: #404040;  
    }
    
    #ahora-button {
        background-color: #ffffff;
        border-style: solid;
        border-color: #C27166;
        border-width: 2px;
        color: #404040;  
    }
    
    .about {
        width: 100vw;
        background-color: #E5BBA5;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    #about-texto {
        width: 60%;
        color: #ffffff;
        margin-left: 8%;
        margin-top: 3%;
        margin-right: 3%;
        margin-bottom: 3%;
    }
    
    #about-texto h2 {
        font-family: 'SofiaPro-medium';
        text-transform: none;
        margin-top: 2%;
    }
    
    #about-texto p {
        margin-top: 5%;
    }
    
    #about-img {
        width: 40%;
        object-fit: cover;
        object-position: center;
        margin-top: 3%;
        margin-right: 3%;
    }
    
    .skills {
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 8%;
    }
    
    .skills h2 {
        font-family: 'SofiaPro-medium';
        text-transform: none;
        font-size: 34px;
    }
    
    #list-skills {
        margin-top: 4%;
        display: flex;
        justify-content: flex-start;
    }
    
    #list-skills p {
        margin-top: 3%;
        font-size: 20px;
        line-height: 1.6;
    }
    
    #skills-research {
        width: 30%;
        margin-right: 5%;
    }
    
    #skills-focus {
        width: 30%;
        margin-right: 5%;
    }
    
    #skills-storytelling {
        width: 30%;
    }
    
    footer {
        width: 100vw;
        background-color: #C27166;
        display: flex;
        justify-content: space-around;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .footer-elements-1 {
        width: 40%;
    }
    
    .texto h2 {
        font-family: 'SofiaPro-medium';
        text-transform: none;
        color: #ffffff;
        margin-left: 8%;
    }
    
    .footer-elements-2 {
        width: 40%;
        display: flex;
        flex-flow: column;
    }
    
    #email a{
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    #email a:hover{
        color: #404040;
    }
    
    .rrss {
        width: 20%;
        display: flex;
        justify-content: space-between;
        padding-top: 4%;
    }
    
    .rrss i {
        color: #ffffff;
        font-size: 26px;
    }
    
    .rrss i:hover {
        color: #404040;
    }
    
    #cv {
        width: 28%;
        padding-top: 4%;
        display: flex;
        justify-content: space-between;
    }
    
    #cv a{
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    #cv a:hover{
        color: #404040;
    }

/* Páginas de proyectos */

.presentacion-proyecto-interior img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.intro-proyecto-interior {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ficha-datos-proyecto {
    width: 30%;
    background-color: #C27166;
    padding: 3%;
    color: #ffffff;
    margin: 4%;
}

.ficha-datos-proyecto h3 {
    text-transform: none;
    margin-bottom: 2%;
    font-family: 'SofiaPro-semibold';
}

.reto-proyecto {
    width: 60%;
    margin: 6%;
    vertical-align: middle;
}

.reto-proyecto p {
    font-family: 'SofiaPro-semibold';
    font-size: 26px;
}

.desarrollo-proyecto {
    margin-left: 4%;
    margin-right: 4%;
}

.desarrollo-proyecto img {
    width: 100%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;

}

.desarrollo-proyecto h2 {
    margin-top: 4%;
    margin-bottom: 2%;
    position: relative;
}

.desarrollo-proyecto h2:after {
    content:'';
    position: absolute;
    background-color: #E5BBA5;
    width: 57%;
    height: 25px;
    bottom: 0;
    left:0;
    z-index: -1;
    opacity: 0.4;
}

.desarrollo-proyecto h2:hover:after {
    width: 60%;
    transition: 0.5s ease;
}

.datos-investigacion-proyecto {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin: 0 auto;
}

.datos-investigacion-proyecto h3 {
    color: #C27166;
    text-transform: none;
    font-family: 'SofiaPro-semibold';
}

.datos-investigacion-proyecto p {
    margin-top: 2%;
}

.dato-investigacion-1 {
    width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.dato-investigacion-2 {
    width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.dato-investigacion-3 {
    width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.definicion-problemas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.problema {
    background-color: #f7f7f7;
    width: 40%;
    padding: 3%;
    margin-bottom: 2%;
}

.problema h4 {
    font-family: 'SofiaPro-semibold';
    margin-bottom: 3%;

}

.problema-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.problema-usabilidad {
    background-color: #f7f7f7;
    padding: 4%;
}

.problema-usabilidad h4 {
    font-family: 'SofiaPro-semibold';
    margin-bottom: 3%;
}

.flujos-proyecto img {
    width: 45%;
    object-fit: contain;
}


.texto-flujos-proyecto {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.texto-flujos-proyecto h4 {
    font-family: 'SofiaPro-semibold';
    font-size: 36px;
    color: #C27166;
}

.texto-flujos-proyecto p {
    margin-top: 3%;
}

#flujos-proyecto-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#flujos-proyecto-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#flujos-proyecto-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-journey-scenario {
    display: flex;
    flex-direction: column;
}
.user-journey-scenario img {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#user-persona-ahora img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
}

@media only screen and (min-width:1025px) and (max-width:1440px){

h1 {
    Font-Family: 'SofiaPro-regular';
    font-size: 55px;
}

h2 {
    font-family: 'SofiaPro-extralight';
    font-size: 45px;
}

h3 {
    font-family: 'SofiaPro-light';
    font-size: 30px;
    text-transform: uppercase;
}

h4 {
    font-family: 'SofiaPro-light';
    font-size: 25px;
}

p {
    font-size: 22px;
    line-height: 1.5;
}

.header-home {
    background-image: url(images/img-header-v3-1440.svg);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    padding-bottom: 0.5%;
    padding-top: 5%;
}

nav {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 200;
}

.menu {
    width: 30%;
    margin-left: 60%;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    color: #404040
}

.menu-items a {
    color: #404040;
    text-decoration: none;
}

.menu-items a:hover {
    color: #C27166;
}

.intro-portfolio {
    width: 45%;
    padding-top: 12%;
    margin-left: 8%;
    margin-bottom: 15%;
}

#cargo {
    margin-top: 4%;
    position: relative;
    z-index: 1;
}

#cargo h3:after {
    content:'';
    position: absolute;
    background-color: #E5BBA5;
    width: 70%;
    height: 20px;
    bottom: 0;
    left:0;
    z-index: -1;
    opacity: 0.4;
}

#cargo h3:hover::after {
    opacity: 0.7;
    transition: 1s;
}

#presentacion {
    margin-top: 4%;
}

#presentacion p {
    font-size: 28px;
}

#rrss {
    width: 35%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

#rrss i {
    color: #404040;
    font-size: 30px;
}

#rrss i:hover {
    color: #C27166;
}

#intro-proyectos {
    width: 85vw;
    position: relative;
    background-color: #F0C8B2;
    padding: 4% 5% 4% 8%;
    color: #ffffff;
    z-index: 100;
}

#intro-proyectos h2 {
    font-family: 'SofiaPro-medium';
}

#intro-proyectos p {
    margin-top: 2%;
}

.background-proyectos {
    width: 100vw;
    background-color: #ffffff;
    margin-top: -8%;
}

#proyecto-1 {
    padding-top: 15%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#proyecto-2 {
    padding-top: 2%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#proyecto-3 {
    padding-top: 2%;
    padding-bottom: 5%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagen-proyecto {
    width: 55%;
    object-fit: cover;
    object-position: center;
}

.imagen-proyecto img {
    width: 100%;
}

.texto-proyecto {
    width: 45%;
    margin-left: 5%;
    margin-right: 2%;
    z-index: 1;
}

.texto-proyecto h2 {
    position: relative;
}

.texto-proyecto h2:after {
    content:'';
    position: absolute;
    background-color: #E5BBA5;
    width: 40%;
    height: 30px;
    bottom: 0;
    left:0;
    z-index: -1;
    opacity: 0.4;
}

.texto-proyecto h2:hover:after {
    width: 55%;
    transition: 0.5s ease;
}

.texto-proyecto h4 {
    margin-top: 4%;
    text-transform: uppercase;
}

.texto-proyecto p {
    margin-top: 3%;
    font-size: 22px;
}

.texto-proyecto button {
    background-color: #C27166;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 4%;
    margin-top: 51px;
    cursor: pointer;
}

.texto-proyecto button:hover {
    background-color: #ffffff;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    color: #404040;
}

#treen-button {
    background-color: #ffffff;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    color: #404040;  
}

#ahora-button {
    background-color: #ffffff;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    color: #404040;  
}

.about {
    width: 100vw;
    background-color: #E5BBA5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#about-texto {
    width: 60%;
    color: #ffffff;
    margin-left: 8%;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

#about-texto h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
    margin-top: 2%;
}

#about-texto p {
    margin-top: 5%;
}

#about-img {
    width: 40%;
    object-fit: cover;
    object-position: center;
    margin-top: 3%;
    margin-right: 3%;
}

.skills {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 8%;
}

.skills h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
    font-size: 34px;
}

#list-skills {
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
}

#list-skills p {
    margin-top: 3%;
    font-size: 20px;
    line-height: 1.6;
}

#skills-research {
    width: 30%;
    margin-right: 5%;
}

#skills-focus {
    width: 30%;
    margin-right: 5%;
}

#skills-storytelling {
    width: 30%;
}

footer {
    width: 100vw;
    background-color: #C27166;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer-elements-1 {
    width: 40%;
}

.texto h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
    color: #ffffff;
    margin-left: 8%;
}

.footer-elements-2 {
    width: 40%;
    display: flex;
    flex-flow: column;
}

#email a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

#email a:hover{
    color: #404040;
}

.rrss {
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
}

.rrss i {
    color: #ffffff;
    font-size: 26px;
}

.rrss i:hover {
    color: #404040;
}

#cv {
    width: 28%;
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
}

#cv a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

#cv a:hover{
    color: #404040;
}

/* Páginas de proyectos */

.presentacion-proyecto-interior img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.intro-proyecto-interior {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ficha-datos-proyecto {
    width: 30%;
    background-color: #C27166;
    padding: 3%;
    color: #ffffff;
    margin: 4%;
}

.ficha-datos-proyecto h3 {
    text-transform: none;
    margin-bottom: 2%;
    font-family: 'SofiaPro-semibold';
}

.reto-proyecto {
    width: 60%;
    margin: 6%;
    vertical-align: middle;
}

.reto-proyecto p {
    font-family: 'SofiaPro-semibold';
    font-size: 26px;
}

.desarrollo-proyecto {
    margin-left: 4%;
    margin-right: 4%;
}

.desarrollo-proyecto img {
    width: 100%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    object-fit: cover;

}

.desarrollo-proyecto h2 {
    margin-top: 4%;
    margin-bottom: 2%;
    position: relative;
}

.desarrollo-proyecto h2:after {
    content:'';
    position: absolute;
    background-color: #E5BBA5;
    width: 57%;
    height: 25px;
    bottom: 0;
    left:0;
    z-index: -1;
    opacity: 0.4;
}

.desarrollo-proyecto h2:hover:after {
    width: 60%;
    transition: 0.5s ease;
}

.datos-investigacion-proyecto {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin: 0 auto;
}

.datos-investigacion-proyecto h3 {
    color: #C27166;
    text-transform: none;
    font-family: 'SofiaPro-semibold';
}

.datos-investigacion-proyecto p {
    margin-top: 2%;
}

.dato-investigacion-1 {
    width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.dato-investigacion-2 {
    width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.dato-investigacion-3 {
    width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.definicion-problemas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.problema {
    background-color: #f7f7f7;
    width: 40%;
    padding: 3%;
    margin-bottom: 2%;
}

.problema h4 {
    font-family: 'SofiaPro-semibold';
    margin-bottom: 3%;

}

.problema-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.problema-usabilidad {
    background-color: #f7f7f7;
    padding: 4%;
}

.problema-usabilidad h4 {
    font-family: 'SofiaPro-semibold';
    margin-bottom: 3%;
}

.flujos-proyecto img {
    width: 45%;
    object-fit: contain;
}


.texto-flujos-proyecto {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.texto-flujos-proyecto h4 {
    font-family: 'SofiaPro-semibold';
    font-size: 36px;
    color: #C27166;
}

.texto-flujos-proyecto p {
    margin-top: 3%;
}

#flujos-proyecto-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#flujos-proyecto-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#flujos-proyecto-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-journey-scenario {
    display: flex;
    flex-direction: column;
}
.user-journey-scenario img {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

#user-persona-ahora img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

}


@media only screen and (min-width:769px) and (max-width:1024px){

h1 {
    Font-Family: 'SofiaPro-regular';
    font-size: 50px;
}

h2 {
    font-family: 'SofiaPro-extralight';
    font-size: 34px;
}

h3 {
    font-family: 'SofiaPro-light';
    font-size: 24px;
    text-transform: uppercase;
}

h4 {
    font-family: 'SofiaPro-light';
    font-size: 20px;
}

p {
    font-size: 19px;
    line-height: 1.5;
}

.header-home {
    background-image: url(images/img-header-v3-1440.svg);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    padding-bottom: 0.5%;
}

nav {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 200;
}

.menu {
    width: 35%;
    margin-left: 60%;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    color: #404040
}

.menu-items a {
    color: #404040;
    text-decoration: none;
}

.menu-items a:hover {
    color: #C27166;
}

.intro-portfolio {
    width: 50%;
    padding-top: 12%;
    margin-left: 8%;
    margin-bottom: 15%;
}

#cargo {
    margin-top: 4%;
    position: relative;
    z-index: 1;
}

#cargo h3:after {
    content:'';
    position: absolute;
    background-color: #E5BBA5;
    width: 90%;
    height: 20px;
    bottom: 0;
    left:0;
    z-index: -1;
    opacity: 0.4;
}

#presentacion {
    margin-top: 4%;
}

#presentacion p {
    font-size: 28px;
}

#rrss {
    width: 40%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

#rrss i {
    color: #404040;
    font-size: 36px;
}

#rrss i:hover {
    color: #C27166;
}

#intro-proyectos {
    width: 85vw;
    position: relative;
    background-color: #F0C8B2;
    padding: 3% 9% 3% 9%;
    color: #ffffff;
    z-index: 100;
}

#intro-proyectos h2 {
    font-family: 'SofiaPro-medium';
}

#intro-proyectos p {
    margin-top: 2%;
}

.background-proyectos {
    width: 100vw;
    background-color: #ffffff;
    margin-top: -8%;
}

#proyecto-1 {
    padding-top: 15%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#proyecto-2 {
    padding-top: 5%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#proyecto-3 {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagen-proyecto {
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.imagen-proyecto img {
    width: 100%;
}

.texto-proyecto {
    width: 50%;
    margin-left: 5%;
    z-index: 1;
}

.texto-proyecto h2 {
    position: relative;
}

.texto-proyecto h2:after {
    content:'';
    position: absolute;
    background-color: #E5BBA5;
    width: 40%;
    height: 24px;
    bottom: 0;
    left:0;
    z-index: -1;
    opacity: 0.4;
}

.texto-proyecto h4 {
    margin-top: 5%;
    text-transform: uppercase;
}

.texto-proyecto p {
    margin-top: 5%;
}

.texto-proyecto button {
    background-color: #C27166;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 4%;
    margin-top: 5%;
}

.texto-proyecto button:hover {
    background-color: #f6f2f0;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    color: #404040;
}

#treen-button {
    background-color: #ffffff;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    color: #404040;  
}

#ahora-button {
    background-color: #ffffff;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    color: #404040;  
}

.about {
    width: 100%;
    background-color: #E5BBA5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#about-texto {
    width: 60%;
    padding: 3%;
    color: #ffffff;
    margin-left: 8%;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

#about-texto h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
    margin-top: 2%;
}

#about-texto p {
    margin-top: 5%;
}

#about-img {
    width: 40%;
}

#about-img img{
    width: 90%;
    object-fit: cover;
    object-position: center;
    margin-top: 3%;
    margin-right: 3%;
}

.skills {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 8%;
}

.skills h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
    font-size: 30px;
}

#list-skills {
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
}

#list-skills p {
    margin-top: 3%;
    line-height: 1.6;
}

#skills-research {
    width: 30%;
    margin-right: 5%;
}

#skills-focus {
    width: 30%;
    margin-right: 5%;
}

#skills-storytelling {
    width: 30%;
}

footer {
    width: 100vw;
    background-color: #C27166;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer-elements-1 {
    width: 40%;
    padding-left: 3%;
}

.texto h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
    color: #ffffff;
}

.footer-elements-2 {
    width: 40%;
    display: flex;
    flex-flow: column;
}

#email a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

#email a:hover{
    color: #404040;
}

.rrss {
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
}

.rrss i {
    color: #ffffff;
    font-size: 26px;
}

.rrss i:hover {
    color: #404040;
}

#cv {
    width: 42%;
    padding-top: 6%;
    display: flex;
    justify-content: space-between;
}

#cv a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

#cv a:hover{
    color: #404040;
}

/* Páginas de proyectos */

.presentacion-proyecto-interior img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.intro-proyecto-interior {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ficha-datos-proyecto {
    width: 30%;
    background-color: #C27166;
    padding: 3%;
    color: #ffffff;
    margin: 4%;
}

.ficha-datos-proyecto h3 {
    text-transform: none;
    margin-bottom: 2%;
    font-family: 'SofiaPro-semibold';
}

.reto-proyecto {
    width: 60%;
    margin: 6%;
    vertical-align: middle;
}

.reto-proyecto p {
    font-family: 'SofiaPro-semibold';
    font-size: 21px;
}

.desarrollo-proyecto {
    margin-left: 4%;
    margin-right: 4%;
}

.desarrollo-proyecto img {
    width: 100%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    object-fit: cover;

}

.desarrollo-proyecto h2 {
    margin-top: 4%;
    margin-bottom: 2%;
    position: relative;
}

.desarrollo-proyecto h2:after {
    content:'';
    position: absolute;
    background-color: #E5BBA5;
    width: 57%;
    height: 25px;
    bottom: 0;
    left:0;
    z-index: -1;
    opacity: 0.4;
}

.desarrollo-proyecto h2:hover:after {
    width: 60%;
    transition: 0.5s ease;
}

.datos-investigacion-proyecto {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin: 0 auto;
}

.datos-investigacion-proyecto h3 {
    color: #C27166;
    text-transform: none;
    font-family: 'SofiaPro-semibold';
}

.datos-investigacion-proyecto p {
    margin-top: 2%;
}

.dato-investigacion-1 {
    width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.dato-investigacion-2 {
    width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.dato-investigacion-3 {
    width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.definicion-problemas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.problema {
    background-color: #f7f7f7;
    width: 40%;
    padding: 3%;
    margin-bottom: 2%;
}

.problema h4 {
    font-family: 'SofiaPro-semibold';
    margin-bottom: 3%;

}

.problema-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.problema-usabilidad {
    background-color: #f7f7f7;
    padding: 4%;
}

.problema-usabilidad h4 {
    font-family: 'SofiaPro-semibold';
    margin-bottom: 3%;
}

.flujos-proyecto img {
    width: 45%;
    object-fit: contain;
}


.texto-flujos-proyecto {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.texto-flujos-proyecto h4 {
    font-family: 'SofiaPro-semibold';
    font-size: 36px;
    color: #C27166;
}

.texto-flujos-proyecto p {
    margin-top: 3%;
}

#flujos-proyecto-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#flujos-proyecto-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#flujos-proyecto-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-journey-scenario {
    display: flex;
    flex-direction: column;
}
.user-journey-scenario img {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

#user-persona-ahora img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

}

@media only screen and (min-width:415px) and (max-width:768px){
h1 {
    Font-Family: 'SofiaPro-regular';
    font-size: 46px;
}

h2 {
    font-family: 'SofiaPro-extralight';
    font-size: 42px;
}

h3 {
    font-family: 'SofiaPro-light';
    font-size: 30px;
}

h4 {
    font-family: 'SofiaPro-light';
    font-size: 26px;
}

p {
    font-size: 19px;
    line-height: 1.6;
}

.header-home {
    background-image: url(images/img-header-375.svg);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    padding-bottom: 15%;
    padding-top: 25%;
}

nav {
    width: 100vw;
    padding-top: 4%;
    padding-bottom: 4%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 200;
}

.menu {
    width: 55%;
    margin-left: 40%;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
    color: #404040
}

.menu-items a {
    color: #404040;
    text-decoration: none;
}

.menu-items a:hover {
    color: #C27166;
}

.intro-portfolio {
    width: 50%;
    padding-top: 12%;
    margin-left: 8%;
    margin-bottom: 15%;
}

#cargo {
    margin-top: 6%;
    text-transform: uppercase;
    line-height: 1.5;
}

#presentacion {
    margin-top: 6%;
}

#presentacion p {
    font-size: 30px;
}

#rrss {
    width: 50%;
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
}

#rrss i {
    color: #404040;
    font-size: 28px;
}

#rrss i:hover {
    color: #C27166;
}

#intro-proyectos {
    width: 100vw;
    background-color: #F0C8B2;
    padding: 5% 10% 5% 10%;
    color: #ffffff;
}

#intro-proyectos h2 {
    font-family: 'SofiaPro-medium';
}

#intro-proyectos p {
    margin-top: 2%;
    font-size: 26px;
}

.background-proyectos {
    width: 100vw;
    background-color: #ffffff;
}

#proyecto-1 {
    padding-top: 12%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

#proyecto-2 {
    padding-top: 10%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

#proyecto-3 {
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

.imagen-proyecto {
    width: 100%;
}

.imagen-proyecto img {
    width: 100%;
    margin: 0 auto;
}

.texto-proyecto {
    width: 95%;
    margin: 0 auto;
    padding: 6% 2% 0% 2%;
    z-index: 1;
}

.texto-proyecto h2 {
    position: relative;
    font-size: 52px;
}

.texto-proyecto h2:after {
    content:'';
    position: absolute;
    background-color: #E5BBA5;
    width: 35%;
    height: 30px;
    bottom: 0;
    left:0;
    z-index: -1;
    opacity: 0.4;
}

.texto-proyecto h4 {
    margin-top: 5%;
    text-transform: uppercase;
    font-size: 30px;
}

.texto-proyecto p {
    margin-top: 5%;
    font-size: 26px;
}

.texto-proyecto button {
    width: 100%;
    margin: 0 auto;
    background-color: #C27166;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 4%;
    margin-top: 5%;
}

#treen-button {
    background-color: #ffffff;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    color: #404040;  
}

#ahora-button {
    background-color: #ffffff;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    color: #404040;  
}

.about {
    width: 100vw;
    background-color: #E5BBA5;
    display: flex;
    flex-flow: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

#about-texto {
    width: 100%;
    padding: 10% 10% 5% 10%; 
    color: #ffffff;
}

#about-texto h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
}

#about-texto p {
    margin-top: 5%;
    font-size: 26px; 
}

#about-img {
    width: 100%;
}

#about-img img{
    width: 95%;
    object-fit: cover;
    object-position: center; 
    margin: 0 auto;
    margin-bottom: 2%;
}

.skills {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 8%;
}

.skills h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
    font-size: 36px;
    line-height: 1.5;
}

#list-skills {
    margin-top: 4%;
    display: flex;
    flex-flow: column;
}

#list-skills p {
    margin-top: 3%;
    font-size: 24px;
    line-height: 1.6;
}

#skills-research {
    width: 95%;
}

#skills-focus {
    width: 95%;
    margin-top: 5%;
}

#skills-storytelling {
    width: 95%;
    margin-top: 5%;
}

footer {
    width: 100%;
    background-color: #C27166;
    padding: 8% 2% 8% 2%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.texto h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
    color: #ffffff;
    font-size: 44px;
}

.texto {
    width: 100%;
    margin: 0 auto;
}

.footer-elements-2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 5%;
}

#email a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
}

.rrss {
    width: 40%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.rrss i {
    color: #ffffff;
    font-size: 30px;
}

#cv {
    width: 40%;
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
}

#cv a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
}

/* Páginas de proyectos */

.presentacion-proyecto-interior img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding-top: 12%;
}

.intro-proyecto-interior {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ficha-datos-proyecto {
    width: 35%;
    background-color: #C27166;
    padding: 3%;
    color: #ffffff;
    margin: 4%;
}

.ficha-datos-proyecto h3 {
    text-transform: none;
    font-size: 28px;
    margin-bottom: 7%;
    font-family: 'SofiaPro-semibold';
}

.reto-proyecto {
    width: 60%;
    margin: 4%;
    vertical-align: middle;
}

.reto-proyecto p {
    font-family: 'SofiaPro-semibold';
    font-size: 19px;
}

.desarrollo-proyecto {
    margin-left: 4%;
    margin-right: 4%;
}

.desarrollo-proyecto img {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    object-fit: cover;

}

.desarrollo-proyecto h2 {
    margin-top: 4%;
    margin-bottom: 2%;
    position: relative;
    font-size: 36px;
}

.desarrollo-proyecto h2:after {
    content:'';
    position: absolute;
    background-color: #E5BBA5;
    width: 85%;
    height: 20px;
    bottom: 0;
    left:0;
    z-index: -1;
    opacity: 0.4;
}

.datos-investigacion-proyecto {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin: 0 auto;
}

.datos-investigacion-proyecto h3 {
    color: #C27166;
    text-transform: none;
    font-family: 'SofiaPro-semibold';
    font-size: 26px;
}

.datos-investigacion-proyecto p {
    margin-top: 5%;
}

.dato-investigacion-1 {
    width: 29%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.dato-investigacion-2 {
    width: 29%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.dato-investigacion-3 {
    width: 29%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.definicion-problemas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.problema {
    background-color: #f7f7f7;
    width: 40%;
    padding: 3%;
    margin-bottom: 2%;
}

.problema h4 {
    font-family: 'SofiaPro-semibold';
    margin-bottom: 3%;

}

.problema-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.problema-usabilidad {
    background-color: #f7f7f7;
    padding: 4%;
}

.problema-usabilidad h4 {
    font-family: 'SofiaPro-semibold';
    margin-bottom: 3%;
}

.flujos-proyecto img {
    width: 100%;
    object-fit: contain;
}


.texto-flujos-proyecto {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.texto-flujos-proyecto h4 {
    font-family: 'SofiaPro-semibold';
    font-size: 34px;
    color: #C27166;
    margin-top: 5%;
}

.texto-flujos-proyecto p {
    margin-top: 3%;
}

#flujos-proyecto-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#flujos-proyecto-2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#flujos-proyecto-3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.user-journey-scenario {
    display: flex;
    flex-direction: column;
}
.user-journey-scenario img {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

#user-persona-ahora img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

}


@media only screen and (max-width:414px){
 
h1 {
    Font-Family: 'SofiaPro-regular';
    font-size: 36px;
    line-height: 1.2;
}

h2 {
    font-family: 'SofiaPro-extralight';
    font-size: 30px;
    text-transform: uppercase;
}

h3 {
    font-family: 'SofiaPro-light';
    font-size: 23px;
    text-transform: uppercase;
}

h4 {
    font-family: 'SofiaPro-light';
    font-size: 19px;
}

p {
    font-size: 15px;
    line-height: 1.6;
}

.header-home {
    background-image: url(images/img-header-375.svg);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    padding-bottom: 0.5%;
}

nav {
    display: none;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
}

.menu {
    width: 30%;
    margin-left: 60%;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    color: #404040
}

.menu-items a {
    color: #404040;
    text-decoration: none;
}

.menu-items a:hover {
    color: #C27166;
}

.intro-portfolio {
    width: 50%;
    padding-top: 12%;
    margin-left: 8%;
    margin-bottom: 15%;
}

#cargo {
    margin-top: 7%;
    line-height: 1.5;
}

#presentacion {
    margin-top: 7%;
}

#presentacion p {
    font-size: 22px;
    font-weight: 300;
}

#rrss {
    width: 90%;
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
}

#rrss i {
    color: #404040;
    font-size: 26px;
}

#rrss i:hover {
    color: #C27166;
}

#intro-proyectos {
    width: 100vw;
    background-color: #F0C8B2;
    padding: 8% 10% 8% 10%;
    color: #ffffff;
}

#intro-proyectos h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
}

#intro-proyectos p {
    margin-top: 4%;
    font-size: 17px;
}

.background-proyectos {
    width: 100vw;
    background-color: #ffffff;
}

#proyecto-1 {
    padding-top: 15%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

#proyecto-2 {
    padding-top: 15%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

#proyecto-3 {
    padding-top: 15%;
    padding-bottom: 5%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

.imagen-proyecto {
    width: 100%;
}

.imagen-proyecto img {
    width: 100%;
    margin: 0 auto;
}

.texto-proyecto {
    width: 95%;
    margin: 0 auto;
    padding: 10% 2% 0% 2%;
    z-index: 1;
}

.texto-proyecto h2 {
    position: relative;
    font-size: 36px;
}

.texto-proyecto h2:after {
    content:'';
    position: absolute;
    background-color: #E5BBA5;
    width: 50%;
    height: 25px;
    bottom: 0;
    left:0;
    z-index: -1;
    opacity: 0.4;
}

.texto-proyecto h4 {
    margin-top: 5%;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.5;
}

.texto-proyecto p {
    margin-top: 5%;
    font-size: 19px;
}

.texto-proyecto button {
    width: 100%;
    margin: 0 auto;
    background-color: #C27166;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 7%;
    margin-top: 5%;
}

#treen-button {
    background-color: #ffffff;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    color: #404040;  
}

#ahora-button {
    background-color: #ffffff;
    border-style: solid;
    border-color: #C27166;
    border-width: 2px;
    color: #404040;  
}

.about {
    width: 100vw;
    background-color: #E5BBA5;
    display: flex;
    flex-flow: column;
    padding-top: 5%;
    padding-bottom: 5%;
}

#about-texto {
    width: 100%;
    padding: 10% 10% 5% 10%; 
    color: #ffffff;
}

#about-texto h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
}

#about-texto p {
    margin-top: 5%;
    font-size: 17px; 
}

#about-img {
    width: 100%;
}

#about-img img{
    width: 95%;
    object-fit: cover;
    object-position: center; 
    margin: 0 auto;
    margin-bottom: 2%;
}

.skills {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 8%;
}

.skills h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
    font-size: 25px;
    line-height: 1.5;
}

#list-skills {
    margin-top: 4%;
    display: flex;
    flex-flow: column;
}

#list-skills p {
    margin-top: 5%;
    font-size: 17px;
    line-height: 1.6;
}

#skills-research {
    width: 95%;
    margin-top: 6%;
}

#skills-focus {
    width: 95%;
    margin-top: 6%;
}

#skills-storytelling {
    width: 95%;
    margin-top: 6%;
}

footer {
    width: 100%;
    background-color: #C27166;
    padding: 8% 2% 8% 2%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.texto h2 {
    font-family: 'SofiaPro-medium';
    text-transform: none;
    color: #ffffff;
}

.texto {
    width: 100%;
    margin: 0 auto;
}

.footer-elements-2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 5%;
}

#email a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

.rrss {
    width: 60%;
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
}

.rrss i {
    color: #ffffff;
    font-size: 26px;
}

#cv {
    width: 60%;
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
}

#cv a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
}

/* Páginas de proyectos */

.presentacion-proyecto-interior img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.intro-proyecto-interior {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ficha-datos-proyecto {
    width: 90%;
    background-color: #C27166;
    padding: 6%;
    color: #ffffff;
    margin: 4%;
}

.ficha-datos-proyecto h3 {
    text-transform: none;
    font-size: 21px;
    margin-bottom: 3%;
    font-family: 'SofiaPro-semibold';
}

.reto-proyecto {
    width: 90%;
    margin: 4%;
    vertical-align: middle;
}

.reto-proyecto p {
    font-family: 'SofiaPro-semibold';
    font-size: 17px;
}

.desarrollo-proyecto {
    margin-left: 4%;
    margin-right: 4%;
}

.desarrollo-proyecto img {
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
    object-fit: cover;

}

.desarrollo-proyecto h2 {
    margin-top: 8%;
    margin-bottom: 2%;
    position: relative;
    font-size: 23px;
    line-height: 1.3;
}

.datos-investigacion-proyecto {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin: 0 auto;
}

.datos-investigacion-proyecto h3 {
    color: #C27166;
    text-transform: none;
    font-family: 'SofiaPro-semibold';
    font-size: 23px;
}

.datos-investigacion-proyecto p {
    margin-top: 3%;
}

.dato-investigacion-1 {
    width: 70%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.dato-investigacion-2 {
    width: 70%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.dato-investigacion-3 {
    width: 70%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.definicion-problemas {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.problema {
    background-color: #f7f7f7;
    width: 95%;
    padding: 5%;
    margin-bottom: 2%;
}

.problema h4 {
    font-family: 'SofiaPro-semibold';
    margin-bottom: 3%;

}

.problema-1 {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.problema-usabilidad {
    background-color: #f7f7f7;
    padding: 4%;
}

.problema-usabilidad h4 {
    font-family: 'SofiaPro-semibold';
    margin-bottom: 3%;
}

.flujos-proyecto img {
    width: 100%;
    object-fit: contain;
}


.texto-flujos-proyecto {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.texto-flujos-proyecto h4 {
    font-family: 'SofiaPro-semibold';
    font-size: 23px;
    color: #C27166;
    margin-top: 5%;
}

.texto-flujos-proyecto p {
    margin-top: 3%;
}

#flujos-proyecto-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#flujos-proyecto-2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#flujos-proyecto-3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.user-journey-scenario {
    display: flex;
    flex-direction: column;
}
.user-journey-scenario img {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

#user-persona-ahora img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}


}

